.card{
    width: 250px;
    height: 206px;
    margin-left: 22px;
    margin-bottom: 15px;
    float: left;
    border: solid 3px black;
    border-radius: 12px;
    background-size: 250px 200px;   
}


img{
    width: 250;
    height: 200px;
    border-radius: 8px;
}

